/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #222;
    background: #ebebeb;
}

ul {
    list-style: none;
} 

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}
/* CSS RESET */

/*ALGUMAS CLASSES*/
.azul {
    color: #0056c7;
}
/*ALGUMAS CLASSES*/
/* HEADER */
.header-bg {
    background: #FFC639;
}

.icone {
    padding-right: 5px;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    margin: 0 10px;
}

.ativado {
    font-size: 18px;
    color: #222;
    transition: 600ms ease;
    text-transform: uppercase;
}

.ativado:hover {
    color: white !important;
    transition: 600ms ease;
}
/* HEADER */

/* MAIN */
.bg-imagem {
    width: 100%;
    background: url("../img/background.png") no-repeat center;
    background-size: cover;
    height: 380px;
    text-align: center;
}

.bg-imagem div h1 {
    font-size: 32px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 60px;
}

.blockquote {
    max-width: 280px;
    margin: 0 auto;
    color: white;
    margin-bottom: 40px;
}

.blockquote p {
    font-size: 14px;
    font-style: italic;
}

.blockquote p::before, .blockquote p::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background: white;
    margin: 14px auto 10px auto;
}

.blockquote cite {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.botao {
    border: 3px solid #FFC639;
    padding: 10px 30px;
    color: #FFC639;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.titulo {
    margin: 30px 0;
    font-weight: bold;
}

.imagem-adotar {
    display: flex;
}

.imagem-adotar img {
    width: 100%;
    height: 100%;
}

.fonte-span {
    font-size: 14px;
    text-align: justify;
    padding-bottom: 20px;
}

.historia {
    font-size: 20px;
}

.separador {
    border-top: 4px solid #FFC639;
    margin: 40px auto;
}

.texto-tabela {
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 10px;
}

.apelo-adocao {
    font-size: 18px;
    font-weight: bold;
    color: #222;
}

@media screen and (max-width: 992px){
    .historia {
        font-size: 13px;
    }
}

@media screen and (max-width: 540px){
    .historia {
        font-size: 18px;
    }
}

.bg-imagem-cadastrar {
    width: 100%;
    background: url("../img/background-cadastrar.png") no-repeat center;
    background-size: cover;
    height: 380px;
    text-align: center;
}

.bg-imagem-cadastrar div h1 {
    font-size: 32px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 60px;
}
/* MAIN SECTION */

/* FOOTER */
.footer-bg {
    height: 100px;
    background: #FFC639;
}

/* FOOTER */
.footer {
    background-color: rgba(0, 0, 0, 0.2);
}
.footer a {
    color: #222;
    transition: 300ms ease;
}

.footer a:hover {
    color: white;
    transition: 300ms ease;
    font-weight: bold;
}

/* FOOTER */